@import '../../styles/variables.scss';

.header-container{
    background-color: $header-color;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo-section{
    height: $logo-height;
    width: $logo-width;
}